*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Overall form styling */
form {
    max-width: 600px;
    margin: auto;
    background-color: #FFF7E6;
    font-family: Arial, sans-serif;
    border: 1px solid /*#ddd*/ black  ;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
form h1 {
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    margin: 0 0 20px;
}

form h2 {
    color: #e74c3c;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 5px;
}

/* Input field styling */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

form input[type="text"],
form input[type="date"],
form input[type="email"],
form input[type="tel"],
form select {
    width: 98%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
}

/* Two-column layout for fields */
.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group .field {
    width: 48%;
}

.form-group .text-field {
    width: 100%;

}


/* Contact details section styling */
.contact-details {
    margin-top: 20px;
}


/* Submit button styling */
.submit-button {
   display: block;
   width: 80%;
   margin: 20px auto;
   padding: 12px 20px;
   background-color: #e74c3c;
   color: #fff;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s ease;
   text-align: center;
}

.submit-button:hover {
   background-color: #c0392b; /* Darker shade on hover */
}

.submit-button:active {
   background-color: #a93226; /* Even darker shade on click */
}

/* Footer text styling */
footer {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
    text-align: center;
}



@media (max-width: 668px) {
    form {
        width: 90%; 
        padding: 5%;
    }




    .form-group {
        flex-direction: column;
        margin:  20px 0 ;        
    }

    .form-group .field {
        width: 100%;
    }

    .submit-button {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    form {
        width: 100%; 
        padding: 10px;
    }

    form h1 {
        font-size: 20px; 
    }

    form h2 {
        font-size: 16px; 
    }

    .submit-button {
        font-size: 14px;
        padding: 10px;
    }
}